/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
  }
  
   /* Hero Section */
  .hero {
    background: url('images/hotel.jpg') no-repeat center center/cover;
    color: #000;
    text-align: center;
    padding: 100px 20px;
}


.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: #f9f9f9 1px 1px 5px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: #f9f9f9 1px 1px 5px;
  }
  
  .cta-button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #e65a50;
    color: #000;
  }
  
  /* About Section */
  .about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Features Section */
  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .feature img {
    width: 90%;
    margin-bottom: 10px;
  }
  
  .feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1rem;
    color: #555;
  }
  .overlay {
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% transparency */
  }
  
  /* Contact Section */
  .contact {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Footer Section */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .footer a {
    color: #ff6f61;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  